.main p, .main a, .main label {
    font-size: 1.2rem;
}

.main {
    margin-bottom: 4rem;
}

.boxSection {
    margin-bottom: 10rem;
}

.boxWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 8rem 0 0;
}

.box {
    position: relative;
    background-color: var(--darkerground);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 30rem;
    padding: 8rem 2rem 2rem;
    border-radius: 1rem;
}

.box img {
    position: absolute;
    top: -30px;

    height: 120px;
    width: auto;
}

.boxDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    gap: 1rem;
    height: 100%;
}

.formScroll {
    display: block;
    width: 100%;
    height: 0;
    margin-top: 2rem;
}

.formSection {
    margin-bottom: 10rem;
}

.formSection > header {
    margin-bottom: 2rem;
}

.formSection > header > h2 {
    font-size: 3rem;
}

.formWrapper {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 6rem;
}

.formDesc {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 2rem;
}

.formDesc > p {
    font-size: 1.5rem;
}

.smallText {
    font-size: 1.2rem !important;
}

.formDesc > p > a {
    font-size: inherit;
    cursor: pointer;
}

.formDesc > p > a:hover {
    text-decoration: underline;
}

.contactInfo > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

.contactInfo a {
    text-decoration: underline;
}

.contactInfo > div:nth-child(1) {
    text-align: right;
}

.main {
    margin-top: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.horizLabels {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.formInput {
    width: 100%!important; /* To eliminate width adjustments on textareas */
    border-radius: 4px;
    border: 1px solid var(--border);
    padding: 8px 12px;
    font-size: 1.2rem;
}

textarea.formInput {
    min-height: 10rem;
}

@media (max-width: 1600px) {
    .box {
        min-width: 18rem;
        width: 25rem;
    }
}

@media (max-width: 1200px) {
    .boxDesc h2 {
        font-size: 1.2rem;
    }
    .boxDesc p {
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {
    .boxWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 3rem;
    }
}

@media (max-width: 900px) {
    .boxWrapper {
        grid-template-columns: 1fr;
    }
    .box {
        width: 30rem;
        margin: auto;
    }

    .formWrapper {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 3rem;
    }

    .formDesc {
        gap: 1rem;
    }

    .contactInfo > div p, .contactInfo > div a {
        font-size: 1rem !important;
    }
}

@media (max-width: 600px) {
    .box {
        width: 100%;
        min-width: unset;
    }

    .form button {
        width: 100% !important;
    }
}

@media (max-width: 450px) {
    .formSection h2 {
        font-size: 2.5rem !important;
    }

    .formDesc {
        margin-top: 0;
    }
    .formDesc p {
        font-size: 1.2rem;
    }
}

