.about {
    width: 1000px;
    max-width: 80svw;
    height: calc(100svh - 200px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(0,4rem);
}

.about p {
    font-size: 1.2rem;
}

.paragraphBy {
    text-align: right;
    margin-top: .4rem;
    margin-right: 1.5rem;
    font-size: 1.1rem !important;
}

.arrowScroll {
    width: 60px;
    height: 60px;
    margin: 10rem auto 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrowScroll:hover {
    transform: scale(1.1);
}

.teamScroll {
    display: block;
    width: 100%;
    height: 0;
    margin-bottom: 6rem;
}

.teamSection {
    margin: 8rem 0 18rem;
}

.teamSection header h1 {
    font-size: 3rem;
}

.cardWrapper {
    display: flex;
    flex-direction: column;

    margin: 4rem 4rem 4rem;
    gap: 4rem;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
}

.leftSide {
    padding: 1.5rem 0 1.5rem 1.5rem;
}

.name {
    font-size: 2rem;
}

.roles {
    font-size: .9rem;
    opacity: .8;
}

.text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .2rem;
    margin: .5rem 0 .8rem;
}

.skills span {
    font-size: .9rem;
    padding: 5px 7px;
    border-radius: 6px;
    background-color: rgba(61, 161, 255, 0.10);
}

.rightSide {
    height: 400px;
    position: relative;
    display: inline-block;
}

.memberPhoto {
    height: 100%;
    width: auto;
    border-radius: 2rem;
}

.socials {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    display: flex;
    gap: .3rem;
}

.socials a {
    height: 30px;
}

.socials a > img {
    height: 100%;
    width: auto;
    opacity: .5;
}

.collaborate {
    font-size: 1.2rem;
}

.collaborate > a:hover {
    text-decoration: underline;
}

@media (max-width: 1300px) {
    .cardWrapper {
        margin: 4rem 0;
    }
    .card {
        gap: 3rem;
    }
}

@media (max-width: 1100px) {
    .leftSide {
        padding: 0;
    }
    .skills span {
        font-size: .8rem;
        padding: 4px 6px;
    }
    .text {
        font-size: 1.1rem;
    }
}

@media (max-width: 900px) {
    .rightSide {
        height: 300px;
    }
}

@media (max-width: 750px) {
    .card {
        flex-direction: column-reverse;
        text-align: center;
        gap: 1rem;
    }

    .skills {
        justify-content: center;
    }

    .rightSide {
        height: auto;
        width: 100%;
    }
    .memberPhoto {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .text {
        font-size: 1rem;
    }
}

@media(prefers-color-scheme: dark) {
    .arrowScroll {
        filter: invert();
    }
}