.front {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6em;
	padding: 2em;
}

.front > img {
	height: 45em;
	width: auto;
	place-self: end;
}

.appDescription {
	max-width: 35em;
	place-content: center;
}

.logoContainer {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: .8em;
	place-items: center;
	width: min-content;
	margin-bottom: 1em;
}

.logoContainer img {
	height: 4em;
	width: auto;
	border: 1px solid #facfd9;
	border-radius: .5rem;
}

.logoContainer > span {
	font-size: 1.5em;
	font-weight: bold;
	opacity: .6;
}

.appDescription h1 {
	font-size: 3em;
	font-weight: 600;
	line-height: 1;
	margin-bottom: .2em;
}

.section {
	min-height: 100svh;
	margin: 6em 0;
}

.switchView {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4em;
	margin-top: 2em;
}

.switchContainer {
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	gap: 1em;
}

.switchButton {
	all: unset;
	position: relative;
	cursor: pointer;
	opacity: 0.7;
}

.switchButton div {
	margin: .8em 1.5em;
}

.switchButton p {
	font-size: 0.8em;
}
.switchButton h3 {
	font-size: 1.5em;
}

.switchButton:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 0;
	height: 4px;
	background: #003645;
	transition: all 0.1s ease;
}

.switchButton.active, .switchButton:hover {
	opacity: 1;
}

.switchButton.active:after {
	transition-duration: 0.3s;
	left: 0;
	width: 100%;
}

.switchViewDesc {
	display: flex;
	flex-direction: column;
	gap: .5em;
	margin: 2em 0;
}

.switchViewDesc > p {
	color: #27b3e8;
}

.switchViewDesc h2 {
	font-size: 2em;
	margin-bottom: 1.5em;
}

.feature {
	display: grid;
	grid-template-rows: 2em auto;
	gap: .4em;
	margin-bottom: 2em;
}

.feature span {
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

.feature p {
	opacity: 0.7;
}

.feature img, .feature svg {
	height: 100%;
	width: auto;
}

.switchViewImages {
	display: flex;
	justify-content: center;
	align-content: center;
	overflow: hidden;
	position: relative;
	height: 40em;
	width: 40em;
}

.switchViewImages img {
	position: absolute;
}

.left, .right {
	filter: blur(5px);
	z-index: 10;
	height: 90%;
	width: auto;
	top: 5%;
}
.left {
	left: 5%;
	opacity: 0.5;
}
.middle {
	opacity: 1;
	height: 100%;
	width: auto;
	z-index: 20;
}
.right {
	right: 5%;
	opacity: 0.5;
}

@media (max-width: 1200px) {
	.front > img {
		height: 40em;
	}
	.switchViewImages {
		height: 30em;
		width: 30em;
	}
}
@media (max-width: 1000px) {
	.front {
		gap: 3em;
	}
	.front > img {
		height: 30em;
	}
	.logoContainer img {
		height: 3em;
	}
	.logoContainer span {
		font-size: 1.2em;
	}
	.appDescription h1 {
		font-size: 2.5em;
	}
}
@media (max-width: 800px) {
	.front {
		gap: 1em;
	}
	.front > img {
		height: 20em;
	}
	.appDescription h1 {
		font-size: 2em;
	}
	.appDescription p {
		font-size: .8em;
	}
	.switchButton h3 {
		font-size: 1.2em;
	}
	.switchView {
		gap: 1em;
	}
	.switchViewDesc h2 {
		font-size: 1.5em;
	}
	.feature {
		font-size: .8em;
	}
	.switchViewImages {
		height: 20em;
		width: 20em;
	}
}
@media (max-width: 600px) {
	.switchView {
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
	}
	.switchContainer {
		grid-column-end: unset;
	}
	.switchViewImages {
		margin: auto;
	}
}
@media (max-width: 500px) {
	.front {
		grid-template-rows: auto auto;
		grid-template-columns: auto;
	}
	.front > img {
		justify-self: center;
		grid-row-start: 2;
	}
	.switchContainer {
		flex-direction: column;
	}
}