.page {

}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
    gap: 6rem;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.filter a {
    font-size: 1.1rem;
    font-weight: 200;
    cursor: pointer;
}

.filter a.active {
    font-weight: 700;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    overflow: hidden;
    margin-bottom: .4rem;
}

.card img {
    width: 100%;
    height: 350px;
    transition: transform 0.3s ease;
}

.imageWrapper img:hover {
    transform: scale(1.2);
}

.cardText {
    flex-shrink: 0;
}

.cardText h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

.cardText p {
    font-weight: 600;
    opacity: .7;
}