.page {
    width: 1400px;
}

.main {
    display: flex;
    flex-direction: row;
    margin: 6rem 0 4rem;
    gap: 6rem;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 100px;
}

.filter a {
    font-size: 1.1rem;
    font-weight: 200;
    cursor: pointer;
}

.filter a.active {
    font-weight: 700;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    overflow: hidden;
    margin-bottom: .4rem;
}

.card img {
    width: 100%;
    height: min-content;
    padding: 1rem;
    border-radius: 2rem;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.cardText {
    flex-shrink: 0;
}

.cardText h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

.cardText p {
    font-weight: 600;
    opacity: .7;
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
        gap: 1rem;
        margin: 3rem 1rem 4rem;
    }

    .filter {
        flex-direction: row;
        gap: 1rem;
    }

    .projects {
        gap: 4rem;
    }
}

@media (max-width: 700px) {
    .projects {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}