.code {
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
  align-items: center;
}

.ctas a, .ctas button {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem !important;
  line-height: 20px;
  font-weight: 500;
  text-wrap: nowrap;
}

a.primaryDark {
  background: #171717 !important;
  color: #f8f8f8 !important;
}

a.primary, button.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary, button.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.noti {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: auto auto 10px;
  padding: 4px 8px 4px 4px;
  border-radius: 100px;
  border: 1px solid #404040;
  background: #20202099;
  font-size: .8rem;
  font-weight: 600;
}
.noti span {
  padding: 2px 4px;
  border-radius: 100px;
}
.noti a {
  text-decoration: underline;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.primaryDark:hover {
    background: #101010 !important;
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .ctas {
    flex-direction: column;
    align-items: flex-start;
  }

  .ctas a, .ctas button {
    font-size: 1rem !important;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }
}

@media (max-width: 500px) {
  .ctas a, .ctas button {
    height: 32px;
    padding: 0 14px;
    font-size: .9rem !important;
  }
}