:root {
  --background: #f8f8f8;
  --darkerground: rgb(236, 236, 236);
  --foreground: #171717;
  --highlight: #fff;
  --border: #ccc;

  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
}

[data-theme="dark"] {
  --background: #171717;
  --darkerground: #141414;
  --foreground: #ededed;
  --highlight: #0f0f0f;
  --border: #303030;

  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #171717;
    --darkerground: #141414;
    --foreground: #ededed;
    --highlight: #0f0f0f;
    --border: #303030;

    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: var(--darkerground);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

span[id="intersector"] {
  width: 100%;
  height: 0;
}

body > div {
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  width: 1500px;
  max-width: 90svw;
  margin: 6rem auto auto;
}

body > div > header {
  margin-top: 14rem;
}

body > div > header > h1 {
  font-size: 4rem;
}

body > div > header > p {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  body > div > header > h1 {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  body > div > header {
    margin-top: 10rem;
  }


  body > div > header > h1 {
    font-size: 2rem;
  }

  body > div > header > p {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body > div {
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
