.header p {
    margin-top: .4rem;
}

.date {
    opacity: .7;
}

.main {
    padding-bottom: 6rem;
}

.main h3 {
    font-size: 1.8rem;
    margin-top: 2rem;
}

.main h4 {
    font-size: 1.5rem;
    margin-top: 1.6rem;
}

.main h5 {
    font-size: 1.2rem;
    margin-top: .8rem;
    font-weight: unset;
}

.main p, .main li {
    font-size: 1.2rem;
    margin-top: .4rem;
}

.main ul {
    margin-left: 2rem;
}

@media (max-width: 600px) {
    .main h3 {
        font-size: 1.4rem;
    }
    .main h4 {
        font-size: 1.3rem;
    }
    .main h5 {
        font-size: 1.1rem;
    }
    .main p, .main li {
        font-size: 1.1rem;
    }
}

@media (max-width: 400px) {
    .main h3 {
        font-size: 1.2rem;
    }
    .main h4 {
        font-size: 1.2rem;
    }
    .main h5 {
        font-size: 1rem;
    }

    .main p, .main li {
        font-size: 1rem;
    }

    .main ul {
        margin-left: 1.2rem;
    }
}