.main {
  display: flex;
  flex-direction: column;
}

.front {
  width: 600px;
  max-width: 100%;
  margin: 8rem auto 0 0;
  text-align: left;
  text-shadow: 3px 3px 5px rgb(0 0 0 / 10%);
}

.title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: .4rem;
  opacity: .8;
}

.intro {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: .8rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-3px,0);
  width: 102vw;
  height: 800px;
  max-height: 90svh;
  object-fit: cover;
  z-index: -1;
  overflow: visible;
}

.intersector {
  margin-top: 100px;
}

.section {
  width: 100%;
  max-width: 80rem;
  padding: 2.5rem;
  margin: 8rem auto 6rem;
}

.section header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section h2 {
  display: flex;
  font-size: 2.5rem;
  flex: 1;
}

.section > div {
  margin-top: 2rem;
}

.projectGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

.cardWrapper {
  width: 100%;
}

.cardWrapper a {
  text-decoration: none;
}

.card {
  padding: 4rem;
  background: var(--darkerground);
  border-radius: 2rem;
}

.card img {
  width: 100%;
  height: 100%;
  padding: .5rem;
  border-radius: 1.5rem;
}

.cardText {

}

.cardText h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.cardText p {
  font-weight: 600;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 900px) {
  .background {
    width: 100vw;
    transform: translate(0,0);
    overflow: hidden;
  }
  .projectGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) or (max-height: 900px) {
  .title {
    font-size: 1.2rem;
  }
  .intro {
    font-size: 1.8rem;
  }
}

@media (max-width: 800px) and (max-height: 800px) {
  .front {
    margin-top: 6rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .intro {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) and (max-height: 700px) {
  .front {
    margin-top: 4rem;
  }
}

@media (max-width: 800px) and (max-height: 500px) {
  .title {
    font-size: 1.2rem;
  }
  .intro {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 1rem;
  }
  .section h2 {
    font-size: 2rem;
  }
  .intro {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .front {
    margin-top: 4rem;
  }

  .title {
    font-size: 1rem;
  }
  .intro {
    font-size: 1.4rem;
  }

  .section {
    margin-top: 8rem;
  }

  .card {
    padding: 3rem;
  }

  .cardText h3 {
    font-size: 1.2rem;
  }
  .cardText p {
    font-size: .8rem;
  }
}

@media (max-width: 400px) {
  .front {
    margin-top: 2rem;
  }

  .card {
    padding: 2rem;
  }

  .section h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .intro {
    font-size: 1.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
