.page {
  margin-top: 0;
  width: 100% !important;
  max-width: 100svw !important;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.frontSection {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.front {
  width: 600px;
  max-width: 100%;
  margin-left: 12rem;
  text-align: left;
  text-shadow: 3px 3px 5px rgb(0 0 0 / 10%);
}

.title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: .4rem;
  opacity: .8;
}

.intro {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-3px,0);
  width: 102vw;
  height: 800px;
  max-height: 90svh;
  object-fit: cover;
  z-index: -1;
  overflow: visible;
}

.carouselWrapper {
  position: relative;
  height: 100%;
  width: 0px;
  /* margin-right: 5rem; */
  /* Ring defaults; can be overridden */
  --radius: 700px;
  --count: 9;
  --orbit-duration: 30s;
  --scale: 1;
}

/* Deprecated vertical carousel removed in favor of orbit ring */

@property --orbit {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

.ringScene {
  position: relative;
  width: 300px;
  height: 100%;
  overflow: visible;
}

.ringOrbit {
  position: absolute;
  top: 60%;
  right: -125%;
  transform: rotate(var(--orbit));
  transform-origin: center center;
  animation: orbit-spin 60s linear infinite;
}

.ringItem {
  position: absolute;
  top: 50%;
  left: 50%;
  --angle: calc((var(--i) / var(--count)) * 1turn);
  width: 0;
  height: 0;
  transform-origin: 0 0;
  transform: rotate(var(--angle)) translateX(var(--radius));
}

.cardUpright {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(var(--scale)) rotate(calc(-1 * (var(--orbit) + var(--angle)))) translate(-50%, -50%);
  transform-origin: center center;
}

.carouselWrapper:hover .ringOrbit {
  animation-play-state: paused;
}

@keyframes orbit-spin {
  from { --orbit: 0deg; }
  to { --orbit: 1turn; }
}

.intersector {
  margin-top: 100px;
}

.section {
  width: 100%;
  max-width: 80rem;
  padding: 2.5rem;
  margin: 8rem auto 6rem;
}

.section header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section h2 {
  display: flex;
  font-size: 2.5rem;
  flex: 1;
}

.section > div {
  margin-top: 2rem;
}

.projectGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

.cardWrapper {
  width: 100%;
}

.cardWrapper a {
  text-decoration: none;
}

.card {
  padding: 4rem;
  background: var(--darkerground);
  border-radius: 2rem;
}

.card img {
  width: 100%;
  height: 100%;
  padding: .5rem;
  border-radius: 1.5rem;
}

.cardText {

}

.cardText h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.cardText p {
  font-weight: 600;
}

@media (hover: hover) and (pointer: fine) {

}
@media (max-width: 1200px) {
  .front {
    margin-left: 6rem;
    padding-right: 4rem;
  }
  .carouselWrapper { --radius: 600px; --scale: 0.9; }
  .ringOrbit { right: -125% }
}

@media (max-width: 900px) {
  .front {
    margin-left: 4rem;
    padding-right: 8rem;
  }
  .background {
    width: 100vw;
    transform: translate(0,0);
    overflow: hidden;
  }
  .projectGrid {
    grid-template-columns: 1fr;
  }
  .carouselWrapper { --radius: 700px; --scale: 0.9; }
  .ringOrbit { right: -175% }
}

@media (max-width: 800px) {
  .front {
    margin-left: 4rem;
    padding-right: 4rem;
  }

  .frontSection {
    flex-direction: column;
    margin-top: 10rem;
    height: 60svh;
  }
  .title {
    font-size: 1.2rem;
  }
  .intro {
    font-size: 1.5rem;
  }
  .carouselWrapper { width: 100%; --radius: 200px; --scale: 0.7; }
  .ringScene { width: 100%; height: 100%; }
  .ringOrbit { top: 200%; right: 40% }
}

@media (max-width: 600px) {
  .front {
    margin-left: 4rem;
  }

  .frontSection {
    flex-direction: column;
    margin-top: 10rem;
    height: 60svh;
  }
  .section {
    padding: 1rem;
  }
  .section h2 {
    font-size: 2rem;
  }
  .intro {
    font-size: 1.5rem;
  }
  .carouselWrapper { width: 100%; --radius: 200px; --scale: 0.7; }
  .ringScene { width: 100%; height: 100%; }
  .ringOrbit { top: 200%; right: 40% }
}

@media (max-width: 500px) {
  .front {
    margin-left: 4rem;
  }

  .frontSection {
    flex-direction: column;
    margin-top: 10rem;
    height: 60svh;
  }

  .title {
    font-size: 1rem;
  }
  .intro {
    font-size: 1.4rem;
  }

  .section {
    margin-top: 8rem;
  }

  .card {
    padding: 3rem;
  }

  .cardText h3 {
    font-size: 1.2rem;
  }
  .cardText p {
    font-size: .8rem;
  }
  .carouselWrapper { width: 100%; --radius: 100px; --scale: 0.6; }
  .ringScene { width: 100%; height: 100%; }
  .ringOrbit { top: 175%; right: 40% }
}

@media (max-width: 400px) {
  .front {
    margin-top: 2rem;
  }

  .card {
    padding: 2rem;
  }

  .section h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .intro {
    font-size: 1.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
