.outerFooter {
    width: 100%;
    background-color: #141414;
}

.footer {
    width: 100%;
    padding: 5rem 8rem;
    color: #ededed;

    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto 2px auto;
    grid-row-gap: 3rem;
}

.footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.leftSide {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
}

.rightSide {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
}

.bottomLeft {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 4rem;
    text-transform: uppercase;
    text-wrap: nowrap;
    font-size: .9rem;
}

.logo {
    height: 400px;
    width: auto;
}

.footer > span {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: rgba(237, 237, 237, 0.1);
}

.footer > p {
    padding: 2rem 0;
    text-align: center;
}

.footer h4 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

.footer nav {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.footer nav a {
    width: min-content;
    text-wrap: nowrap;
}

.socials {
    gap: .6rem !important;
}

.socials a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;
    line-height: 1.1rem;
}

.socials img {
    width: 25px;
    height: auto;
}

@media(max-width: 1200px) {
    .footer {
        padding: 3rem 5rem;
    }
}

@media(max-width: 1000px) {
    .footer {
        padding: 2rem 3rem 3rem;
        grid-column-gap: 4rem;
    }

    .leftSide {
        gap: 2rem;
    }

    .logo {
        height: auto;
        width: 100%;
    }
}

@media(max-width: 750px) {
    .footer {
        grid-template-columns: auto;
        grid-template-rows: auto auto 2px auto;
    }

    .leftSide {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .rightSide {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .logo {
        height: 100px;
        width: auto;
    }

    .footer > span {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .bottomLeft {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

@media(max-width: 500px) {
    .leftSide {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

@media(max-width: 450px) {
    .leftSide {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }

    .footer nav {
        flex-direction: row;
        gap: 1rem !important;
    }

    .bottomLeft {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: .4rem;
    }
}

@media(max-width: 400px) {
    .footer nav {
        flex-direction: column;
        gap: .4rem !important;
    }
}