.header {
    padding: 1rem 2rem;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.line {
    width: 32px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.2s ease;
}

.line1 {
    transform: rotate(45deg) translate(6px, 6px);
}

.line2 {
    opacity: 0;
}

.line3 {
    transform: rotate(-45deg) translate(6px, -6px);
}

.menu {
    position: absolute;
    left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}

.navLink {
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: transform 0.5s ease;
}

.activeNav {
    transform: translate(120px,0);
}

.activeNav:nth-child(1) {
    transition: transform 0.6s ease!important;
}
.activeNav:nth-child(2) {
    transition: transform 0.7s ease!important;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.image {
    background-blend-mode: hard-light;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.1);

}