.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    color: white;
    z-index: 1000;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    transition: background-color 0.2s ease;
}

.scrolled {
    background-color: rgba(191, 226, 255, 0.75);
}

.header img {
    transition: height .05s ease;
}

.scrolled img {
    height: 24px
}

.scrolled .socials img {
    width: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.line {
    width: 36px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.2s ease;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 15%);
}

.line1 {
    transform: rotate(45deg) translate(7px, 7px);
}

.line2 {
    opacity: 0;
}

.line3 {
    transform: rotate(-45deg) translate(7px, -7px);
}

.menu {
    position: absolute;
    left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}

.navLink {
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: transform 0.5s ease;
}

.activeNav {
    transform: translate(120px,0);
}

.activeNav:nth-child(1) {
    transition: transform 0.6s ease!important;
}
.activeNav:nth-child(2) {
    transition: transform 0.7s ease!important;
}

.socials {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6px;
    padding-top: 8px;
}

.burger, .socials {
    width: 110px;
}