.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    transition: background-color 0.2s ease;
}

.navbar {
    display: grid;
    grid-template-columns: 14rem auto 8rem;
    width: 1500px;
    max-width: 90svw;
    margin: 1rem auto;
    align-items: center;
}

.scrolled {
    /*background-color: rgba(191, 226, 255, 0.75);*/
}

.logo {
    width: 100%;
    height: auto;
    max-height: 60px;
    z-index: 1000;
}

.header img {
    transition: all .1s ease;
}

.scrolled img {
    height: 24px
}

.scrolled .socials img {
    width: 24px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    gap: 1.5rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
}

.navLink {
    transition: 0s !important;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 8px;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    width: min-content;
}

.line {
    width: 36px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.2s ease;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 15%);
}

.line1 {
    transform: rotate(45deg) translate(7px, 7px);
}

.line2 {
    opacity: 0;
}

.line3 {
    transform: rotate(-45deg) translate(7px, -7px);
}

@media(max-width: 800px) {
    .burger {
        display: flex;
    }

    .navbar {
        grid-template-columns: 110px auto 110px;
    }

    .header::before {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 0;
        background-color: var(--background);
        box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
        transition: height 0.3s ease;
    }

    .dropdown::before {
        display: block !important;
        height: 150px;
    }

    .dropdown.scrolled::before {
        height: 120px;
    }

    .scrolled .menu {
        top: 55px;
    }

    .menu {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .navLink {
        text-transform: uppercase;
        transition-delay: 2s;
        transition: transform 0.5s ease, opacity 0.2s ease;
        opacity: 0;
        pointer-events: none;
    }

    .activeNav {
        transform: translate(0,20px);
        opacity: 1;
        pointer-events: unset;
    }

    .activeNav:nth-child(1) {
        transition: transform 0.6s ease!important;
    }
    .activeNav:nth-child(2) {
        transition: transform 0.7s ease!important;
    }
    .activeNav:nth-child(3) {
        transition: transform 0.8s ease!important;
    }
}

@media(max-width: 750px) {
    .navbar {
        grid-template-columns: 100px auto 100px;
    }
}

@media(max-width: 600px) {
    .logo {
        height: 36px;
    }
    .burger {
        gap: 5px;
    }
    .line {
        width: 30px;
        height: 3px;
    }
    .line1 {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .line3 {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}

@media(max-width: 500px) {
    .navbar {
        grid-template-columns: 60px auto 60px;
    }

    .socials {
        display: none;
    }
}

@media(max-width: 400px) {
    .menu {
        flex-direction: column !important;
        gap: .4rem;
    }

    .dropdown::before {
        height: 230px !important;
    }

    .dropdown.scrolled::before {
        height: 210px !important;
    }
}