.page > header {
    margin-top: 8rem;
}

.page p, .page a, .page label {
    font-size: 1.2rem;
}

.page > header > h1 {
    font-size: 4rem;
}

.main {
    margin-bottom: 4rem;
}

.headerDesc {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 2rem;
}

.headerDesc > p {
    font-size: 1.5rem;
}

.contactInfo > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

.contactInfo a {
    text-decoration: underline;
}

.contactInfo > div:nth-child(1) {
    text-align: right;
}

.main {
    margin-top: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.horizLabels {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.formInput {
    width: 100%!important; /* To eliminate width adjustments on textareas */
    border-radius: 2px;
    border: 1px solid var(--border);
    padding: 8px 12px;
    font-size: 1.4rem;
}

textarea.formInput {
    min-height: 3rem;
}